<div class="callout callout--primary">
  <div class="grid--1X2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ut quos
        voluptatibus dicta facilis velit! Quaerat pariatur deserunt quasi
        quisquam aperiam! Est quos impedit quis explicabo vel quam voluptatem
        similique omnis nesciunt dicta in illum, labore natus adipisci magni
        dolore.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
