<section class="block">
  <header class="block__header">
    <h2>What our Customers are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex et officia
      ipsa eos aliquid? Dicta!
    </p>
  </header>
  <div class="container">
    <div class="card applicationpp">
      <div class="grid grid--1X2">
        <div class="applicationpp__image">
          <img src="images/ApplicationPP.jpg" alt="A happy smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            vitae repudiandae debitis earum unde maxime ex ipsa officiis,
            consequuntur aut!
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__clock">
                  <use xlink:href="images/sprite.svg#clock"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Omotola Otokiti</h3>
                <p class="quote__organization">Optimum Beauty Enterprises.</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
